@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/proximanova_regular.ttf") format("truetype");
  src: url("./fonts/proximanova_regular.woff") format("woff") 
  url("./fonts/proximanova_regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "FuturaPT";
  src: url("./fonts/FuturaPT-Medium.eot") format("embedded-opentype");
  src: url("./fonts/FuturaPT-Medium.eot") format("embedded-opentype"),
  url("./fonts/FuturaPT-Medium.woff") format("woff"), 
  url("./fonts/FuturaPT-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "WixMadeforText";
  src: url("./fonts/WixMadeforText-VariableFont_wght.ttf") format("truetype"); 
  src: url("./fonts/WixMadeforText-VariableFont_wght.woff") format("woff"), 
  url("./fonts/WixMadeforText-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@mixin basicFlex {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #D4D5D6;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  padding: 0 24px;

  @media (max-width: 744px) {
    padding: 0 16px;
  }
}

.card {
  width: 744px;
  padding: 24px 0 16px;
  margin: 50px auto;

  border-radius: 8px;
  background-color: #FFFFFF;

  @media (max-width: 744px) {
    width: 351px;
    padding: 16px 0 12px;
  }

  .header {
    @include basicFlex;
    justify-content: space-between;

    padding-bottom: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media (max-width: 744px) {
      padding-bottom: 16px;
    }

    &__avatar img {
      height: 32px;
      width: 32px;
    }

    &__person-stats {
      @include basicFlex;
      gap: 12px;

      @media (max-width: 744px) {
        gap: 8px;
      }
    }

    &__person-name {
      font-family: "ProximaNova";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      color: var(--black-80, rgba(0, 0, 0, 0.80));
    }

    &__stats-for-thirty-days {
      color: var(--black-40, rgba(0, 0, 0, 0.40));
      font-family: "ProximaNova";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

      @media (max-width: 744px) {
        display: none;
      }
    }

    &__calculations-mobile {
      display: none;

      @media (max-width: 744px) {
        display: block;
      }
    }

    &__calculations {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 12px;

      @media (max-width: 744px) {
        display: none;
      }
    }

    &__calculation-element {
      display: flex;
      flex-direction: column;

      div {
        padding: 4px 0;

        font-family: "ProximaNova";

        &:first-child {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }

    &__top-calculation-element {
      min-height: 24px;
    }

    &__right-mobile {
      display: none;

      @media (max-width: 744px) {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }

    .calc-text {
      color: var(--black-80, rgba(0, 0, 0, 0.80));
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }

    .calc-numbers {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;

      @media (max-width: 744px) {
        font-weight: 400;
      }
    }

    .green-text {
      color: #62B435;
    }

    .red-text {
      color: #F64747;
    }

    .gray-text {
      color: rgba(0, 0, 0, 0.40)
    }

    &__calculations-mobile__dash {
      color: var(--black-20, rgba(0, 0, 0, 0.20));
    }
  }

  .text-content {
    position: relative;
    margin: 24px 0 20px;
    color: var(--black-60, rgba(0, 0, 0, 0.60));
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &__gradient {
      display: none;
    }
  }

  .text-content_closed {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    .text-content__gradient {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 27px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 16.67%, #FFF 100%);
    }
  }

  .bet-block {
    @include basicFlex;
    position: relative;
    justify-content: space-between;

    width: 100%;
    padding: 24px 24px 24px 22px;

    background-color: #F9F9FA;
    border-left: 2px solid #3498DB;

    @media (max-width: 744px) {
      flex-direction: column;
      gap: 16px;
      padding: 16px 16px 16px 14px;
    }

    &__open-text-btn {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);

      height: 40px;
      width: 40px;
      padding: 12px;

      border-radius: 50%;
      background: var(--white-100, #FFF);
      box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    }

    &__open-text-btn_opened img {
      transform: rotate(180deg);
    }

    &__forecast {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (max-width: 744px) {
        width: 100%;
      }
    }

    &__forecast-title {
      color: var(--black-40, rgba(0, 0, 0, 0.40));
      font-family: "ProximaNova";
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px;
      text-transform: uppercase;
    }

    &__forecast-info {
      color: var(--black-80, rgba(0, 0, 0, 0.80));
      font-family: "ProximaNova";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;

      @media (max-width: 744px) {
        @include basicFlex;
        justify-content: space-between;
        gap: 12px;

        font-size: 16px;
        line-height: 18px;

        span {
          max-width: 223px;
        }
      }
    }

    &__coefficient-container {
      @include basicFlex;
      gap: 16px;

      @media (max-width: 744px) {
        display: none;
      }
    }

    &__coefficient {
      @include basicFlex;
      gap: 12px;
    }

    &__coefficient-title {
      color: var(--grey-80-black-no-transparent, #333);
      font-family: "ProximaNova";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; 
    }

    &__coefficient-number {
      color: var(--black-80, rgba(0, 0, 0, 0.80));
      font-family: "FuturaPT";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;

      @media (max-width: 744px) {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
    }

    &__bet-btn {
      @include basicFlex;
      width: 140px;
      height: 40px;
      padding: 12px 16px;
      justify-content: center;

      color: var(--white-100, #FFF);
      text-align: center;
      font-family: "WixMadeforText";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;

      border-radius: 4px;
      background: var(--color-blue, #3498DB);

      @media (max-width: 744px) {
        display: none;
      }
    }

    &__coefficient-mobile {
      display: none;

      @media (max-width: 744px) {
        display: flex;
        gap: 8px;
      }
    }

    &__bet-btn-mobile {
      display: none;

      @media (max-width: 744px) {
        display: block;
        width: 100%;
      }
    }
  }
}